<h1>Create a list!</h1>


<%= form_for(@list) do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @list} %>

<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :date %>
<%= f.date_select :date%>
</div>

<p>Select item</p>

<div>
 <%= f.collection_select :item_ids, Item.all, :id, :description %>
</div>
<p>Add Item</p>
<div>
  <%= f.fields_for :items do |i| %>
    <%= i.label :description %>
    <%= i.text_field :description %>
  <% end %>
</div>

<%= f.submit "Create List" %>

<% end %>
