<h1>Create a list!</h1>


<%= form_for(@list) do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @list} %>

<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :date %>
  <%= f.date_select :date %>
</div>

<h3>Add Items</h3>

<div>
    <%= f.fields_for :items, 5.times {@list.items.build}  do |item_fields| %>
       <%= item_fields.text_field :description, placeholder: "Add your item here" %><br><br>

          <h4>Add Content</h4>

        <%= item_fields.fields_for :list_items do |li| %>
           <%= li.text_area :content, placeholder: "Add your content here" %>
        <% end %>
    <% end %>
</div>


<%= f.submit "Create List" %>

<% end %>
