<h1>Create a list!</h1>


<%= form_for(@list) do |f| %>
<br>

<%= render partial: 'layouts/errors', locals: {object: @list} %>

<%= f.label :title %>
<%= f.text_field :title %>
<br>
<%= f.label :date %>
<%= f.date_field :date%>
<br>

<%= f.submit "Create List" %>

<% end %>
