<h1><%= @list.user.username%></h1>

<h2><%= @list.title %> list</h2>

<ol>
<h3><% @list.items.each do |item| %>
     <li><%= item.description %></li>
   <% end  %>
</h3></ol>
<ul>
<div><strong>
  <% @list.list_items.each do |li| %>
    <li><%= li.content %></li><br>
  <% end  %>
</strong></div></ul>
<p> <%= link_to 'See all the content', list_list_items_path(@list) %></p>
<p> <%= link_to 'Add content', new_list_list_item_path(@list) %></p>
<p> <%= link_to "Home", user_path(@user) %> </p>
