<h1><%= @list.user.username%></h1>
<button type="button" name="button">Click ME!</button>
<div class="">
 <span id="number">0</span>
</div>
<script type="text/javascript"> 
  $(function () {
     $('button').on("click", function(event) {
       event.preventDefault()
       let counter = $('#number').text()
       let increment = parseInt(counter, 10) + 1
       $('#number').text(increment)
     })
  })


</script>

<h2>Rails <%= @list.title %> list</h2>

<ol>
<h3><% @list.items.each do |item| %>
     <li><%= item.description %></li>
   <% end  %>
</h3></ol>
<ul>
<div><strong>
  <% @list.list_items.each do |li| %>
    <li><%= li.content %></li><br>
  <% end  %>

</strong></div></ul>
<p> <%= link_to 'See all the content', list_list_items_path(@list) %></p>
<p> <%= link_to 'Add content', new_list_list_item_path(@list) %></p>
<!-- <p>  link_to "Home", user_path(@user) %> </p> -->

<h1 class="listTitle">Ajax <%= @list.title %></h1>
<p class="listBody"><%= @list.list_items[0].content %></p>
<a href="#" class="js-back" data-id="<%=@list.id%>">Back</a><br>
<a href="#" class="js-next" data-id="<%=@list.id%>">Next</a>


<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(e) {
   e.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.getJSON("/lists/" + nextId + ".json", function(data) {
      $(".listTitle").text(data["title"]);
      $(".listBody").text(data.list_items[0].content);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-back").on("click", function(e) {
   e.preventDefault();
    var nextId = parseInt($(".js-back").attr("data-id")) - 1;
    $.getJSON("/lists/" + nextId + ".json", function(data) {
      $(".listTitle").text(data["title"]);
      $(".listBody").text(data.list_items[0].content);
      // re-set the id to current on the link
      $(".js-back").attr("data-id", data["id"]);
    });
  });
});
</script>
