<h1>Sign up here:</h1>
<%= form_for(@user) do |f| %>
<br>

<%= render partial: 'layouts/errors', locals: {object: @user} %>

<%= f.label :username %>
<%= f.text_field :username %>
<br>
<%= f.label :email %>
<%= f.email_field :email %>
<br>
<%= f.label :password %>
<%= f.password_field :password%>

<%= f.submit "Sign in" %>
<% end  %>
