<%= form_for([@list_item.list, @list_item]) do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @list_item} %>
<br>

<div>
 <%= f.label :content %>
 <%= f.text_area :content, size: "25x5" %>
</div>

<%= f.hidden_field :list_id %>


<%= f.submit %>

<% end  %>
