<!DOCTYPE html>
<html>
  <head>
    <title>OrganizerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if logged_in? %>
  <div>
    <nav class="navbar">
    <%= link_to "Log out", logout_path, method: :delete, class: 'navlink' %>
    <%= link_to "Add a list", new_list_path, class: 'navlink' %>
    <%= link_to "All lists", lists_path %>
    </nav>
  </div>
  <% end %>

  <body>
    <%= yield %>
    <h1 class='subtitle'>JS organizer</h1>
    <br>

    <button id='lists-data'>Get lists</button>
    <div id='js-lists'>[lists...]</div>
    <br>
    <br>

    <button id='js-new-list'>New List</button>
    <div id="new-list-form-div">[form]</div>

  </body>
</html>
